.cast {
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #b3b3b3;
  color: var(--grey);
  line-height: 18px;

  &__app {
    color: #b3b3b3;
    color: var(--grey);
    text-decoration: underline;
    cursor: pointer;

    &:visited {
      color: #b3b3b3;
      color: var(--grey);
    }
  }

  &__com {

    &_link {
      text-decoration: none;

      &:visited {
        color: #b3b3b3;
        color: var(--grey);
      }

      &:hover {
        color: #bd1622;
        color: var(--errors);
      }
    }
  }

  @media (width < 680px) {

    &__team {
      display: none;
    }
  }
}
