.encrypt-result {

  & textarea {
    width: 720px!;
    height: 180px;
    border-radius: 2px;
    background-color: var(--white);
    border: solid 1px var(--frames);
    font-family: Rubik, serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--blue);
  }
  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--dark-grey);
  }
}
