.encrypt-result {

  & textarea {
    margin-bottom: 20px;

    width: 720px;
    height: 215px;

    border: solid 1px var(--frames);

    border-radius: 2px;
    background-color: var(--white);
    font-family: Rubik, serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--blue);
  }
  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--dark-grey);
  }
}
